{% extends 'Icarus/base.html' %}

{% block content %}
        <h1>Icarus - Task Template: {{ TaskTemplate.pk }}
        <a href="{% url 'TT_edit' pk=tasktemplate.pk %}">
          <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
        </a></h1>

        <ul>
          <li><strong>Part of Process Flow:</strong> <a href="{% url  'PF_detail' pk=tasktemplate.fk_flow.pk %}">{{ tasktemplate.fk_flow }}</a></li>
          <li><strong>Task Template ID:</strong> {{ tasktemplate.pk }}</li>
          <li><strong>Name of created task:</strong> {{ tasktemplate.name }}</li>
          <li><strong>Role of created task:</strong> {{ tasktemplate.role }}</li>
          <li><strong>Task template order ID:</strong> {{ tasktemplate.orderid }}</li>
          <li><strong>Task activation triggered by completion of task from template:</strong> {{ tasktemplate.Trigger }}</li>
        </ul>
{% endblock %}
