{% extends 'Icarus/base.html' %}

{% block content %}
        <h1>Icarus - Project: {{ project.pk }}
        <a href="{% url 'Proj_edit' pk=project.pk %}">
          <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
        </a>
      </h1>
        <table class="table table-striped WR">
          <thead class="black">
            <tr>
              <th>Status</th>
              <th>Title</th>
              <th>Created By</th>
              <th>Created On</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ project.get_status_display }}</td>
              <td>{{ project.summary }}</td>
              <td>{{ project.create_by }}</td>
              <td>{{ project.create_date }}</td>
            </tr>
            <tr>
              <td colspan="4">{{ project.description }}</td>
            </tr>
          </tbody>
        </table>

        <h2>Related Work Requests
          <a href="{% url 'WR_newproj' ProjID=project.pk %}">
            <button type="button" class="btn btn-outline-primary btn-sm">New</button>
          </a>
        </h2>
        <table class="table table-striped WR">
          <thead class="black">
            <tr>
              <th>WRID</th>
              <th>Status</th>
              <th>Title</th>

          </thead>
          <tbody>
            {% for WR in WRs %}
            <tr>
              <td>{{ WR.pk }}</td>
              <td>{{ WR.get_status_display }}</td>
              <td><a href="{% url 'WR_detail' pk=WR.pk %}">{{ WR.summary }}</a></td>

            </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock %}
