{% extends 'Helios/base.html' %}

{% block content %}
        <h1>Helios - Bookstore Group: {{ Bkst.name }}
        <a href="{% url 'Bkst_edit' pk=Bkst.pk %}">
          <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
        </a></h1>
        <ul>
          <li><strong>Primary Key:</strong> {{ BookstoreGroup.pk }}</li>
          <li><strong>Bkst Name:</strong> {{ BookstoreGroup.name }}</li>
          <li><strong>Bkst Acronym:</strong> {{ BookstoreGroup.acronym }}</li>
        </ul>
        </table>
{% endblock %}
