{% extends 'Helios/base.html' %}

{% block content %}
        <h1>Helios - All Course Versions
          <a href="{% url 'Cvs_new' %}">
            <button type="button" class="btn btn-outline-primary btn-sm">Create a new Course Version</button>
        </a></h1>
        <table class="table table-striped CourseVersion">
          <thead class="black">
            <tr>
              <th>Course</th>
              <th>Course Version</th>
              <th>Name</th>
              <th>Edit</th>

          </thead>
          <tbody>
            {% for CourseVersion in CourseVersions %}
            <tr>
              <td>{{ CourseVersion.fk_course.course_pre }}{{ CourseVersion.fk_course.course_num }}</td>
              <td>{{ CourseVersion.pk }}</td>
              <td><a href="{% url 'Cvs_detail' pk=CourseVersion.pk %}">{{ CourseVersion.name }}</a></td>
              <td><a href="{% url 'Cvs_edit' pk=CourseVersion.pk %}"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock %}
