{% extends 'Icarus/base.html' %}

{% block content %}
        <h1>Helios - All Roles
          <a href="{% url 'Role_new' %}">
            <button type="button" class="btn btn-outline-primary btn-sm">Create a new Role</button>
        </a></h1>
        <table class="table table-striped Role">
          <thead class="black">
            <tr>
              <th>Acronym</th>
              <th>Name</th>
              <th>Edit</th>

          </thead>
          <tbody>
            {% for Role in Roles %}
            <tr>
              <td>{{ Role.acronym }}</td>
              <td><a href="{% url 'Role_detail' pk=Role.pk %}">{{ Role.name }}</a></td>
              <td><a href="{% url 'Role_edit' pk=Role.pk %}"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock %}
