{% extends 'Icarus/base.html' %}

{% block content %}
<strong>Institution:</strong> <a href="{% url 'Inst_detail' pk=college.fk_institution.pk %}">{{ college.fk_institution }}</a>
        <h1>Helios - College: {{ College.name }}
        <a href="{% url 'Col_edit' pk=College.pk %}">
          <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
        </a></h1>
        <ul>
          <li><strong>Primary Key:</strong> {{ College.pk }}</li>
          <li><strong>College Name:</strong> {{ College.name }}</li>
          <li><strong>College Acronym:</strong> {{ College.acronym }}</li>
        </ul>
        </table>


        <h1>Related Schools
          <a href="{% url 'Sch_newfromcol' CID=College.pk %}">
            <button type="button" class="btn btn-outline-primary btn-sm">Create a new School</button>
        </a></h1>
        <table class="table table-striped School">
          <thead class="black">
            <tr>
              <th>College</th>
              <th>Acronym</th>
              <th>Name</th>
              <th>Edit</th>
          </thead>
          <tbody>
            {% for School in Schools %}
            <tr>
              <td>{{ School.fk_college.acronym }}</td>
              <td>{{ School.acronym }}</td>
              <td><a href="{% url 'Sch_detail' pk=School.pk %}">{{ School.name }}</a></td>
              <td><a href="{% url 'Sch_edit' pk=School.pk %}"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
