{% extends 'Icarus/base.html' %}

{% block content %}
        <h1>Icarus - All Work Requests</h1>
        <table class="table table-striped WR">
          <thead class="black">
            <tr>
              <th>WRID</th>
              <th>Title</th>
              <th>Created By</th>
              <th>Created On</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ wrequest.pk }}</td>
              <td>{{ wrequest.summary }}</td>
              <td>{{ wrequest.create_by }}</td>
              <td>{{ wrequest.create_date }}</td>
            </tr>
            <tr>
              <td colspan="4">{{ wrequest.description }}</td>
            </tr>
          </tbody>
        </table>
{% endblock %}
