{% extends 'Helios/base.html' %}

{% block content %}
        <h1>Icarus - Process Flow: {{ ProcessFlow.pk }}
        <a href="{% url 'PF_edit' pk=ProcessFlow.pk %}">
          <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
        </a>
        <a href="{% url 'PF_newfromexisting' frompk=ProcessFlow.pk %}">
          <button type="button" class="btn btn-outline-primary btn-sm">New Process Flow from this</button>
        </a>
      </h1>
        <ul>
          <li><strong>PFID:</strong> {{ ProcessFlow.pk }}</li>
          <li><strong>Name:</strong> {{ ProcessFlow.name }}</li>
          <li><strong>Description:</strong> {{ ProcessFlow.description }}</li>
        </ul>

        <h2>Related Task Templates
          <a href="{% url 'TT_new' ProcessFlow.pk %}">
            <button type="button" class="btn btn-outline-primary btn-sm">New</button>
          </a>
        </h2>
        <table class="table table-striped TTs">
          <thead class="black">
            <tr>
              <th>Order</th>
              <th>Name</th>
              <th>Role</th>
              <th>Trigger</th>
              <th>Status When Activated</th>
              <th>WR Phase When Activated</th>
              <th>Edit</th>
          </thead>
          <tbody>
            {% for tasktemplate in tasktemplates %}
            <tr>
              <td>{{ tasktemplate.orderid }}</td>
              <td><a href="{% url 'TT_detail' pk=tasktemplate.pk %}">{{ tasktemplate.name }}</a></td>
              <td>{{ tasktemplate.role }}</td>
              <td>{{ tasktemplate.trigger }}</td>
              <td>{{ tasktemplate.get_default_status_display }}</td>
              <td>{{ tasktemplate.phase }}</td>
              <td><a href="{% url 'TT_edit' tasktemplate.pk %}?returnto={{ request.path|urlencode }}">
                <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
              </a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
