{% extends 'Icarus/base.html' %}

{% block content %}
        <h1>Helios - All Courses
          <a href="{% url 'Crs_new' %}">
            <button type="button" class="btn btn-outline-primary btn-sm">Create a new Course</button>
        </a></h1>
        <table class="table table-striped Course">
          <thead class="black">
            <tr>
              <th>School</th>
              <th>Course ID</th>
              <th>Name</th>
              <th>Edit</th>

          </thead>
          <tbody>
            {% for Course in Courses %}
            <tr>
              <td>{{ Course.fk_school.acronym }}</td>
              <td>{{ Course.course_id }}</td>
              <td><a href="{% url 'Crs_detail' pk=Course.pk %}">{{ Course.name }}</a></td>
              <td><a href="{% url 'Crs_edit' pk=Course.pk %}"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

{% endblock %}
