{% extends 'Helios/base.html' %}

{% block content %}
        <h1>Icarus - All Tasks</h1>
        <table class="table table-striped Tasks">
          <thead class="black">
            <tr>
              <th>TID</th>
              <th>Status</th>
              <th>Title</th>
              <th>Assigned To</th>
              <th>Role</th>
              <th>Related Request</th>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td>{{ task.pk }}</td>
              <td>{{ task.get_status_display }}</td>
              <td><a href="{% url 'Task_detail' pk=task.pk %}">{{ task.name }}</a></td>
              <td>{{ task.get_assigned_to_display }}</td>
              <td>{{ task.role }}</td>
              <td><a href="{% url 'WR_detail' pk=task.fk_work_req.pk %}">{{ task.fk_work_req.summary }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
