{% extends 'Icarus/base.html' %}

{% block content %}
        <h1>Icarus - Task: {{ task.pk }}
        <a href="{% url 'Task_edit' pk=task.pk %}">
          <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
        </a><a href="{% url 'Task_delete' pk=task.pk %}">
          <button type="button" class="btn btn-outline-primary btn-sm">Delete</button>
        </a></h1>
        <table class="table table-striped Tasks">
          <thead class="black">
            <tr>
              <th>TID</th>
              <th>Status</th>
              <th>Title</th>
              <th>Assigned To</th>
              <th>WRID</th>
              <th>Related Request</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ task.pk }}</td>
              <td>{{ task.get_status_display }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.assigned_to }}</td>
              <td>{{ task.fk_work_req.pk }}</td>
              <td><a href="{% url 'WR_detail' pk=task.fk_work_req.pk %}">{{ task.fk_work_req.summary }}</a></td>
            </tr>
          </tbody>
        </table>
{% endblock %}
